@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PDKBattleTracker</h1>

    <h2>Play a game! (Page doesn't exist yet!)</h2>
    <p>@Html.ActionLink("New Game", "Index", "Home")</p>

  
</div>
