@model PDKBattleTracker.Models.Game

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameDate" class="control-label"></label>
                <input asp-for="GameDate" class="form-control" />
                <span asp-validation-for="GameDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSystemId" class="control-label">Game System</label>
                <div>
                    <select id="GameSystemId" name="GameSystemId" asp-for="GameSystemId" asp-items="@(new SelectList(ViewBag.GameSystemList, "GameSystemId", "GameSystemName"))" class="form-control">
                        <option value="0">--- select game system ---</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="GameTypeId" class="control-label">Game Type</label>
                <div>
                    <select id="GameTypeId" name="GameTypeId" asp-for="GameTypeId" asp-items="@(new SelectList(ViewBag.GameTypeList, "GameTypeId", "GameTypeName"))" class="form-control">
                        <option value="0">--- select game type ---</option>
                    </select>
                </div>
            </div>
           
            <div class="form-group">
                <label asp-for="GameSizeId" class="control-label"></label>
                <input asp-for="GameSizeId" class="form-control" />
                <span asp-validation-for="GameSizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissionId" class="control-label"></label>
                <input asp-for="MissionId" class="form-control" />
                <span asp-validation-for="MissionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerId" class="control-label"></label>
                <input asp-for="PlayerId" class="form-control" />
                <span asp-validation-for="PlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FactionId" class="control-label"></label>
                <input asp-for="FactionId" class="form-control" />
                <span asp-validation-for="FactionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubFactionId" class="control-label"></label>
                <input asp-for="SubFactionId" class="form-control" />
                <span asp-validation-for="SubFactionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Name" class="control-label"></label>
                <input asp-for="Player1Name" class="form-control" />
                <span asp-validation-for="Player1Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Faction" class="control-label"></label>
                <input asp-for="Player1Faction" class="form-control" />
                <span asp-validation-for="Player1Faction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1SubFaction" class="control-label"></label>
                <input asp-for="Player1SubFaction" class="form-control" />
                <span asp-validation-for="Player1SubFaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Custom1" class="control-label"></label>
                <input asp-for="Player1Custom1" class="form-control" />
                <span asp-validation-for="Player1Custom1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Custom2" class="control-label"></label>
                <input asp-for="Player1Custom2" class="form-control" />
                <span asp-validation-for="Player1Custom2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1PrimaryRound2Points" class="control-label"></label>
                <input asp-for="Player1PrimaryRound2Points" value="0" class="form-control" />
                <span asp-validation-for="Player1PrimaryRound2Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1PrimaryRound3Points" class="control-label"></label>
                <input asp-for="Player1PrimaryRound3Points" value="0" class="form-control" />
                <span asp-validation-for="Player1PrimaryRound3Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1PrimaryRound4Points" class="control-label"></label>
                <input asp-for="Player1PrimaryRound4Points" value="0" class="form-control" />
                <span asp-validation-for="Player1PrimaryRound4Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1PrimaryRound5Points" class="control-label"></label>
                <input asp-for="Player1PrimaryRound5Points" value="0" class="form-control" />
                <span asp-validation-for="Player1PrimaryRound5Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Secondary1text" class="control-label"></label>
                <input asp-for="Player1Secondary1text" class="form-control" />
                <span asp-validation-for="Player1Secondary1text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Secondary1Points" class="control-label"></label>
                <input asp-for="Player1Secondary1Points" value="0" class="form-control" />
                <span asp-validation-for="Player1Secondary1Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Secondary2" class="control-label"></label>
                <input asp-for="Player1Secondary2" class="form-control" />
                <span asp-validation-for="Player1Secondary2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Secondary2Points" class="control-label"></label>
                <input asp-for="Player1Secondary2Points" value="0" class="form-control" />
                <span asp-validation-for="Player1Secondary2Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Secondary3" class="control-label"></label>
                <input asp-for="Player1Secondary3" class="form-control" />
                <span asp-validation-for="Player1Secondary3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Secondary3Points" class="control-label"></label>
                <input asp-for="Player1Secondary3Points" value="0" class="form-control" />
                <span asp-validation-for="Player1Secondary3Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Name" class="control-label"></label>
                <input asp-for="Player2Name" class="form-control" />
                <span asp-validation-for="Player2Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Faction" class="control-label"></label>
                <input asp-for="Player2Faction" class="form-control" />
                <span asp-validation-for="Player2Faction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2SubFaction" class="control-label"></label>
                <input asp-for="Player2SubFaction" class="form-control" />
                <span asp-validation-for="Player2SubFaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Custom1" class="control-label"></label>
                <input asp-for="Player2Custom1" class="form-control" />
                <span asp-validation-for="Player2Custom1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Custom2" class="control-label"></label>
                <input asp-for="Player2Custom2" class="form-control" />
                <span asp-validation-for="Player2Custom2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2PrimaryRound2Points" class="control-label"></label>
                <input asp-for="Player2PrimaryRound2Points" value="0" class="form-control" />
                <span asp-validation-for="Player2PrimaryRound2Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2PrimaryRound3Points" class="control-label"></label>
                <input asp-for="Player2PrimaryRound3Points" value="0" class="form-control" />
                <span asp-validation-for="Player2PrimaryRound3Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2PrimaryRound4Points" class="control-label"></label>
                <input asp-for="Player2PrimaryRound4Points" value="0" class="form-control" />
                <span asp-validation-for="Player2PrimaryRound4Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2PrimaryRound5Points" class="control-label"></label>
                <input asp-for="Player2PrimaryRound5Points" value="0" class="form-control" />
                <span asp-validation-for="Player2PrimaryRound5Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Secondary1text" class="control-label"></label>
                <input asp-for="Player2Secondary1text" class="form-control" />
                <span asp-validation-for="Player2Secondary1text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Secondary1Points" class="control-label"></label>
                <input asp-for="Player2Secondary1Points" value="0" class="form-control" />
                <span asp-validation-for="Player2Secondary1Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Secondary2" class="control-label"></label>
                <input asp-for="Player2Secondary2" class="form-control" />
                <span asp-validation-for="Player2Secondary2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Secondary2Points" class="control-label"></label>
                <input asp-for="Player2Secondary2Points" value="0" class="form-control" />
                <span asp-validation-for="Player2Secondary2Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Secondary3" class="control-label"></label>
                <input asp-for="Player2Secondary3" class="form-control" />
                <span asp-validation-for="Player2Secondary3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Secondary3Points" class="control-label"></label>
                <input asp-for="Player2Secondary3Points" value="0" class="form-control" />
                <span asp-validation-for="Player2Secondary3Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
